# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

### 1:Count the number of times iNeuron appears in the string.

In [2]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
print("Number of times iNeuron appears in the string is : ",text.count("iNeuron"))

Number of times iNeuron appears in the string is :  3

### 2:Check if position 5 to 11 ends with the phrase iNeuron. in the string

In [34]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
string = "iNeuron"

txt_1 = txt[5:11]
if string in txt_1:
    print("Ends with the phrase with iNeuron")
else:
    print("Not end with iNeuron")

Not end with iNeuron

### 3: Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [8]:
str = input("Enter your full name: ")
list1=str.split(" ")
print(list1[0][0],".",list1[1][0],".",list1[2])

Enter your full name: Vishal Vijay Boraste
V . V . Boraste

### 4: Join all items in a list into a string, using a hash(#) character as separator:

In [16]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
string = "#".join(LIST)
print(string)

My#name#is#Rishav#Dash

### 5:Write example for the following string manipulation function,
- isdecimal()
- islower()
- isupper()
- isalpha()
- isnumeric()

In [27]:
x = "Vishal Vijay Boraste"
x.isdecimal()

False

In [26]:
x = "vishal vijay boraste"
x.islower()

True

In [28]:
x = "Vishal Vijay Boraste"
x.islower()

False

In [29]:
x = "VISHAL VIJAY BORASTE"
x.isupper()

True

In [30]:
x = "vishal vijay boraste"
x.isupper()

False

In [31]:
x = "VishalVijayBoraste"
x.isalpha()

True

In [32]:
x = "vishal vijay boraste"
x.isalpha()

False

In [24]:
x = "Vishal Vijay Boraste"
x.isnumeric()

False

In [33]:
x = "vishalvijayboraste345"
x.islower()

True

### 6:Indian PAN card format follows the following formats -

AYEPC7894X
ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [42]:
Pan_card = input("Enter your pan card No: ")
if len(Pan_card)==10:
    first_f = Pan_card[0:5]
    second_f= Pan_card[5:9]
    if first_f.isalpha() and first_f.isupper() and second_f.isnumeric() and Pan_card[-1].isalpha():
        print("Ok")
    else:
        print("Not Ok")
else:
    print("Not Ok")

Enter your pan card No: AYEPC7894X
Ok